* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

html {
	/* 10px */
	font-size: 62.5%;
}

.header {
	display: flex;
	justify-content: center;
	background-color: rgb(250, 249, 246);
}

.title {
	font-size: 5rem;
	padding: 3rem;
	color: rgb(148, 128, 73)
}

.main {
	display: flex;
	justify-content: center;
	background-color: rgb(250, 249, 246);
}

.accordion-container {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-height: 100vh;
	transition: 1s;
}

.section {
	width: 100%;
	box-shadow: 0px 1px rgb(236, 236, 229);
}

.summary {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	font-size: 2.5rem;
	list-style: none;
	cursor: pointer;
	transition: 1s;
}

.summary-container {
	display: flex;
	justify-content: space-between;
}

.summary-title {
	color: rgb(26, 95, 187)
}

.accordion-container:hover .summary-title {
	color: rgb(50, 37, 2)
}

details[open] .summary-title {
	color: rgb(50, 37, 2)
}

.meme-container {
	display: none;
	transition: all 1s ease-out;
}

.summary-container:hover~.meme-container,
details[open] .meme-container {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.meme-img {
	width: 70%;
	height: 70%;
}

.summary-icon {
	width: 0.7em;
	height: 0.7em;
	background: url(assets/svg/plus.svg) no-repeat center;
	transition: 0.3s;
}

details[open] .summary-icon,
.summary-container:hover .summary-icon {
	background: url(assets/svg/close.svg) no-repeat center;
}

.accordion-container:not(:hover) .summary-icon {
	background: none;
}

@keyframes to-large-meme {
	from {
		width: 60%;
		height: 60%;
	}

	to {
		width: 70%;
		height: 70%;
	}
}

.meme-img {
	animation-name: to-large-meme;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
}

/* mobile 320x568,
tablet 820x1180,
desktop 1920×1080 */

@media (min-width: 1025px) {}

@media (min-width: 481px) and (max-width: 1024px) {
	.title {
		font-size: 4rem;
	}

	.accordion-container {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 3rem;
	}

	.summary {
		font-size: 2rem;
		padding: 1rem;
	}

	.accordion-container {
		width: 70%;
	}
}