* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

html {
	/* 10px */
	font-size: 62.5%;
}

.header {
	display: flex;
	justify-content: center;
	background-color: rgb(250, 249, 246);
}

.title {
	font-size: 4.2rem;
	padding: 2.4rem;
	color: rgb(122, 104, 57)
}

.main {
	display: flex;
	justify-content: center;
	background-color: rgb(250, 249, 246);
}


.accordion-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	min-height: 100vh;
	transition: 0.3s
}

.summary-title {
	display: flex;
	justify-content: space-between;
	padding: 0.8em;
	cursor: pointer;
	color: rgb(122, 104, 57);
	transition: 0.5s;
}

.input {
	width: 0;
	height: 0;
	appearance: none;
}

.meme-container {
	display: none;
}

.section {
	width: 100%;
	box-shadow: 0px 1px rgb(236, 236, 229);
}

.summary {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	list-style: none;
	cursor: pointer;
	transition: 0.5s;
}

.summary-container {
	display: flex;
	justify-content: space-between;
}

.accordion-container:hover .summary-title,
.input:checked~.summary-title {
	color: rgb(63, 60, 235);
}

.meme-container {
	display: none;
}

.summary:hover .meme-container,
.input:checked~.meme-container {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.meme-img {
	width: 80%;
	height: 80%;
}

.summary-icon {
	width: 0.7em;
	height: 0.7em;
	background: url(assets/svg/plus.svg) no-repeat center;
	transition: 0.3s;
}

.input:checked~.summary-title .summary-icon,
.summary:hover .summary-icon {
	background: url(assets/svg/close.svg) no-repeat center;
}

.accordion-container:not(:hover) .summary-icon {
	background: none;
}

@keyframes to-large-meme {
	from {
		width: 60%;
		height: 60%;
	}

	to {
		width: 80%;
		height: 80%;
	}
}

.meme-img {
	animation-name: to-large-meme;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.title {
		font-size: 3.8rem;
		padding: 2rem;
	}

	.summary {
		font-size: 2.3rem;
	}

	.accordion-container {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.title {
		font-size: 3rem;
		padding: 1.5rem;
	}

	.summary {
		font-size: 2.5rem;
	}

	.accordion-container {
		width: 80%;
	}
}